.container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  row-gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border: none;
  background-color: skyblue;
  color: black;
  border-radius: 30px;
  align-self: flex-end;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.listItem {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
}

.inlineInfo {
  display: flex;
  column-gap: 4px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.recipe {
  display: flex;
  column-gap: 16px;
}

.recipeImage {
  width: 100%;
}

.separator {
  height: 1px;
  background-color: black;
  margin-left: -16px;
  margin-right: -16px;
}
