.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  flex: 1;
  height: 100%;
  width: 100%;
}

.loadingText {
  font-size: 24px;
  color: white;
  font-weight: bold;
  z-index: 0;
}
